.App {
  text-align: center;
  font-size: 1.4em;
}

div#tasks {
  margin: 10px 0;
}

input[type='checkbox'] {
  width: 1.4em;
  height: 1.4em;
  vertical-align: middle;
}

label {
  width: 200px;
  display: inline-block;
  text-align: left;
  padding: 0 14px;
  vertical-align: middle;
}

div#form {
  margin: 10px 0;
}